body{
  background-color: rgb(220, 205, 186);  
  height: auto;
  width: auto;
  margin-top: 0px;
  max-height: 1000px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.navbar{
  display: flex;
  width: auto;
  max-width: 100%;
  max-height: 45px;
  padding: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: antiquewhite;
  box-shadow: 1px 3px 7px #5A4938;
}
.navbar a {
  color: #BB7B41;
  text-shadow: 1px 1px #5A4938;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  margin-top: 20px;
  margin-left: 5px;
  font-weight: bold;
  font-size: 25px;
  font-family: Verdana;
  color: rgb(8, 125, 129);
  text-shadow: 1px 1px black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}
.navbar a:hover {
  color: black;
}
.logo {
  width: 250px;
  margin-right: 10px;

}
.navbar .logo h3{
font-family: "Major Mono Display", monospace;
font-weight: bold;
font-style: normal;
color: rgb(8, 125, 129);
text-shadow: 1px 1px black;
font-size: 15px;
margin-right: 150px;
width: 250px;

}
.navbar .logo p{
font-family: "Madimi One", sans-serif;
padding-left: 5px;
padding-right: 5px;
width: 65px;
font-weight: 400;
font-style: normal;
margin-left: 22%;
margin-top: -20px;
background-color: antiquewhite;
}
.Welcome{
  max-width: 100%;
  max-height: fit-content;
  margin-top: 80px;
  padding-bottom: 20px;
  padding: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: antiquewhite;
  box-shadow: 1px 3px 7px #5A4938;
}
.Welcome h1 {
  text-align: center;
  color: rgb(8, 125, 129);
  text-shadow: 1px 1px black;
  margin-bottom: -5px;
  margin-top: -30px;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 110px; 
}
.Map{
  display: block;
  margin-right: auto;
  width: 50%;
}
.container{
  max-width: fit-content;
  max-height: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-bottom: 20px;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: antiquewhite;
  box-shadow: 1px 3px 7px #5A4938;
}
.container .Map img{
  border-radius: 30px;
  border: 2px solid black;
}