body{
  background-color: rgb(220, 205, 186);  
  height: auto;
  width: auto;
  margin-top: 0px;
  max-height: 1000px;
}

.logo {
  width: 250px;
  margin-right: 10px;

}
.navbar .logo h3{
font-family: "Major Mono Display", monospace;
font-weight: bold;
font-style: normal;
color: rgb(8, 125, 129);
text-shadow: 1px 1px black;
font-size: 15px;
margin-right: 150px;
width: 250px;

}
.navbar {
      display: flex;
      width: auto;
      max-width: 100%;
      height: auto;
      padding: 2cqmin;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: antiquewhite;
      box-shadow: 1px 3px 7px #5A4938;
    }

    .navbar img {
      width: auto;
      height: 150px;
      border-radius: 50%;
      border: 2px solid #ccc;
    }
.Welcome{
  max-width: 100%;
  max-height: fit-content;
  margin-top: 150px;
  padding-bottom: 20px;
  padding: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: antiquewhite;
  box-shadow: 1px 3px 7px #5A4938;
}
.Welcome a {
  padding-left: 10px;
  padding-right: 15px;
  text-decoration: none;
  margin-top: 30px;
  margin-left: 18%;
  font-weight: bold;
  font-size: 35px;
  font-family: Verdana;
  color: rgb(8, 125, 129);
  text-shadow: 1px 1px black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}
.Welcome a:hover {
  color: black;
}
.Welcome h1 {
  text-align: center;
  color: #087d81;
  text-shadow: 1px 1px black;
  margin-bottom: -5px;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
}
.Welcome .Button{
  margin-top: 50px;
}
.Welcome .Button .tvshows{
  margin-left: 200px;
}
/*------------------------------------------Fantasy-------------------------------------------- */
.container {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-right: auto;
  margin-left: auto;
}
.format {
    display: flex;
    
}
.image {
  opacity: 1;
  display: block;
  height: 300px;
  width: 250px;
}
.middle {

  opacity: 0;
  position: absolute;
  top: 40%;
  left: 30%;

  text-align: center;
}
.container:hover .image {
  opacity: 0.3;
}
.container:hover .middle {
  opacity: 1;
}
.text {
  color: white;
  font-size: 16px;
  margin-right: auto;
  margin-left: auto;
}
.text img{
  width: 70px;
  height: 70px;
}
.text a {
  text-decoration: none;
  color: black;
}

.bg{
  background-color: antiquewhite;
  width: auto;
  min-height: 6000px;
  padding-bottom: 20px;
  padding: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: antiquewhite;
  box-shadow: 1px 3px 7px #5A4938;
  margin-top: 500px;

}
#anime{
  margin-top: 2000px;
}
#action{
  margin-top: 2000px;
}
h2{
  color: cadetblue;
  letter-spacing: 1px;
  text-shadow: 1px 1px black;
  line-height: -10;
  font-size:60px;
  margin-top: -15px;
  font-family: "DM Serif Text", serif;
} 

#button{
  color: #BB7B41;
  text-shadow: 1px 1px #5A4938;
  text-align: right;
  padding-left: 10px;
  padding-right: 15px;
  padding-bottom: 50px;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 30px;
  font-family: Verdana;
  color: rgb(8, 125, 129);
  text-shadow: 1px 1px black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}
#button:hover{
  color: black;
  border: #ccc;
}
