body{
  background-color: rgb(220, 205, 186);  
  height: auto;
  width: auto;
  margin-top: 0px;
  max-height: 1000px;
}
.navbar{
  display: flex;
  width: auto;
  max-width: 100%;
  max-height: 45px;
  padding: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: antiquewhite;
  box-shadow: 1px 3px 7px #5A4938;

}
.navbar a {
  color: #BB7B41;
  text-shadow: 1px 1px #5A4938;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  margin-top: 20px;
  margin-left: 5px;
  font-weight: bold;
  font-size: 25px;
  font-family: Verdana;
  color: #087d81;
  text-shadow: 1px 1px black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}
.navbar a:hover {
  color: black;
}
.logo {
  width: 250px;
  margin-right: 10px;

}
.navbar .logo h3{
font-family: "Major Mono Display", monospace;
font-weight: bold;
font-style: normal;
color: rgb(8, 125, 129);
text-shadow: 1px 1px black;
font-size: 15px;
margin-right: 150px;
width: 250px;

}
.navbar .logo p{
font-family: "Madimi One", sans-serif;
padding-left: 5px;
padding-right: 5px;
width: 65px;
font-weight: 400;
font-style: normal;
margin-left: 22%;
margin-top: -20px;
background-color: antiquewhite;
}


.Welcome{
  max-width: 100%;
  max-height: fit-content;
  margin-top: 100px;
  padding-bottom: 20px;
  padding: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: antiquewhite;
  box-shadow: 1px 3px 7px #5A4938;
}
.Welcome h1 {
  text-align: center;
  color: rgb(8, 125, 129);
  text-shadow: 1px 1px black;
  margin-bottom: -5px;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 110px; 
}
.Welcome h6 {
  text-align: center;
  margin-top: -5px;
  padding-right: 50px;
  font-family: "DM Serif Text", serif;
  font-size: 40px;

}

.bucketlist{
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  max-height: fit-content;
  margin-top: 100px;
  padding-bottom: 20px;
  padding: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: antiquewhite;
  box-shadow: 1px 3px 7px #5A4938;
}

.bucketlist figure img{
  height: 250px;
  width: 300px;
  margin: 20px;
  margin-bottom: 30px;
  border: 2px solid black;
}
.bucketlist .childhood figcaption{
  text-align: center;
  display: block;
  font-weight: 1000;
  font-family: "Courier Prime", monospace;
  font-size: 20px;
  margin-bottom: 10px;
  color: rgb(8, 125, 129);
}
.bucketlist  figure{
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 26%;
  border: 2px solid rgb(0, 0, 0);
  margin: 10px;
  background-color: rgb(240, 206, 159);

}
.goal{
  display: flex;
}
.goal p{
  width: 800px;
  text-align: justify;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
.button{
  color: #BB7B41;
  text-shadow: 1px 1px #5A4938;
  text-align: right;
  padding-left: 10px;
  padding-right: 15px;
  padding-bottom: 50px;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 30px;
  font-family: Verdana;
  color: rgb(8, 125, 129);
  text-shadow: 1px 1px black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}
 .button:hover{
  color: black;
  font-size: 40px;
  border: #ccc;
}